<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Welcome, {{ username }}!</h2>
    </div>
    <div>
        <h2>Requests</h2>
        <div>
            <ul>
            {% for slot in user_slots %}
                {% if slot.request_swap %}
                    <li>
                        {{ slot.topic }} <br>
                        {{slot.Date }} <br>
                        {{slot.starttime}} - {{slot.endtime}} <br>
                        {{slot.status}} <br>
                        <div>Swap Requested With Slot ID: {{ slot.swap_with }} <br>
                            {% for x in slots %}
                                {% if x.id == slot.swap_with %}
                                    {{ x.topic }} <br>
                                    {{x.Date }} <br>
                                    {{x.starttime}} - {{x.endtime}} <br>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="slot_id" value="{{ slot.id }}">
                                        <input type="hidden" name="swap_with_id" value="{{ x.id }}">
                                        <input type="hidden" name="action" value="accept">
                                        <button type="submit" name="accept_swap" value="accept swap">Accept Swap</button>
                                    </form>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="slot_id" value="{{ slot.id }}">
                                        <input type="hidden" name="swap_with_id" value="{{ x.id }}">
                                        <input type="hidden" name="action" value="decline">
                                        <button type="submit" name="decline_swap" value="decline swap">Decline Swap</button>
                                    </form>
                                    <br><br>
                                {% endif %}
                            {% endfor %}
                        </div>   
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <ul>
            {% for slot in user_slots %}
                <li>
                    {{ slot.topic }} <br>
                    {{slot.Date }} <br>
                    {{slot.starttime}} - {{slot.endtime}} <br>
                    {{slot.status}} <br>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="slot_id" value="{{ slot.id }}">
                        <input type="hidden" name="action" value="delete">
                        <button type="submit" name="delete_slot" value="delete slot">Delete Slot</button>
                    </form>
                    <br><br>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="topic"> <br>
            <input type="date" name="Date"> <br>
            <input type="time" name="starttime"> <br>
            <input type="time" name="endtime"> <br>
            <select name="status" id="">
                <option value="swappable">Swappable</option>
                <option value="busy">Busy</option>
                <option value="not_swappable">Not Swappable</option>
            </select>
            <button type="submit" value="add slot">Add Slot</button>
        </form>
    </div>
    <div>
        <ul>
            {% for slot in slots %}
                <li>
                    {{ slot.topic }} <br>
                    {{slot.Date }} <br>
                    {{slot.starttime}} - {{slot.endtime}} <br>
                    {{slot.status}} <br>
                    {% if slot.status == "swappable" %}
                        <form action="http://127.0.0.1:8000/swap/" method="get">
                            <input type="hidden" name="slot_id" value="{{ slot.id }}">
                            <input type="hidden" name="username" value="{{ username }}">
                            <button type="submit" >Request Swap</button>
                        </form>
                    {% endif %}
                    <br><br>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>